.buscador-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    justify-content: flex-start;
  }
  
  .buscador-inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .buscador-inputs-top-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .buscador-input {
    padding: 10px;
    border: 2px solid #2F4858;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
  }
  
  .buscador-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #2F4858;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .buscador-button:not(:last-child) {
    margin-right: 10px;
  }
  
  .buscador-select {
    padding: 10px;
    border: 2px solid #2F4858;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
    background-color: white;
  }
  
  .buscador-inputs-bottom-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  @media only screen and (min-width: 768px) {
    .buscador-inputs {
      flex-direction: row;
      justify-content: flex-start;
      margin-left: -10px;
    }
  
    .buscador-inputs-top-row {
      margin-right: 20px;
      margin-bottom: 0;
    }
  
    .buscador-inputs-bottom-row {
      margin-left: 20px;
      margin-bottom: 0;
    }
  
    .buscador-inputs-bottom-row select {
      margin-left: 10px;
    }
  }
  