@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lilita+One&family=Sniglet:wght@400;800&display=swap');

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
}
form.nuevaRecomendacion {
  background: rgba(255, 255, 255, 0.822);
  border: 2px solid #00000042;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  width: 25rem;
  height: 25rem;
  border-radius: 15px;
  padding: 2rem 1rem;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
}

form.nuevaRecomendacion ul{
  padding: 5px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-self: center;
}
form.nuevaRecomendacion input,
form.nuevaRecomendacion textarea {
  height: 1.5rem;
  width: 13rem;
  border-radius: 5px;
}
form.nuevaRecomendacion button {
  background: #353636;
  border:none;
  color: white;
  border-radius: 20px;
  height: 50px;
  width: 170px;
  margin-top: 1rem;
  font-family: "baloo 2", sans-serif;
  font-weight: 500;
  justify-content: center;
  justify-items: center;
  align-self: center;
}
form.nuevaRecomendacion h2{
font-family: "Epilogue", sans-serif;
font-style: normal;
margin: 0;
font-weight: 500;
font-size: 25px;
line-height: 37px;
text-align: center;
}
form.loginregistro  {
  font-family: "baloo 2", sans-serif;
}

button:hover {
  opacity: 0.8;
}
@media (min-width: 600px) { 

}

