@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lilita+One&family=Sniglet:wght@400;800&display=swap');
section.Perfil{
    justify-content: space-evenly;
    justify-self:center;
    width: 100%;
    
}
section.Perfil h2{
    font-family: "Epilogue",sans-serif;
    font-size: 1.5rem;
    padding: 1rem;
}
section.Perfil h3 {
    font-size: 1.2rem;
    font-family: "Baloo 2",sans-serif;
}
  
section.Perfil h4{
    font-size: 1rem;
    font-family: "Baloo 2",sans-serif;
}
  
  
section.Perfil p{
    font-family: "Baloo 2",sans-serif;
    font-size: 1rem;
    padding: 0.5rem;

}
section li{
    list-style: none;
}

main section.RecomendacionesPerfil,
main section.ComentariosPerfil {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-self: center;
    align-items: center;
}
 
main section.RecomendacionesPerfil li,
main section.ComentariosPerfil li {
    position: relative;
overflow: hidden;
  border: 2px solid #92929242;
  margin: 1rem;
  padding-top: 1rem;
  border-radius: 20%;
  width: 15rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-self: center;
  align-items: center;
}

main section.RecomendacionesPerfil p{
    padding: 0rem;
}
main section.ComentariosPerfil p{
    padding: 1.5rem;
}